# general
README.md
CHANGELOG.md

# testing
coverage

# next.js
.next
out

# catalog
/catalog/output
/catalog/build/reports/data

# production
/build

# dependencies
node_modules

# python
.venv/
venv
